In [3]:
# 오라클 연결해서 데이터를 pandas 변환
import oracledb
import pandas as pd

18.0.0.0.0

In [9]:
conn = oracledb.connect(user='ora_user',password='1111',dsn='localhost:1521/xe')
print(conn.version)

# cursor = conn.cursor()
query = 'select * from board'

# select 데이터가 df 타입으로 변경되어 가져옴
df = pd.read_sql_query(query,conn)
df

18.0.0.0.0

C:\Users\KOREAVC\AppData\Local\Temp\ipykernel_27140\1488622563.py:8: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query,conn)

,BNO,ID,BTITLE,BCONTENT,BDATE,BGROUP,BSTEP,BINDENT,BHIT,BFILE
0,1,aaa,제목,내용,2024-04-29 10:05:08,1,0,0,1,None
1,2,bbb,제목2,내용2,2024-04-29 10:06:07,2,0,0,1,None
2,4,aaa,제목3,내용3,2024-04-29 10:09:40,4,0,0,1,None

In [8]:
conn.close()